.dashbord-main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.dashbord-home-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.left-sidevar-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    min-height: 100vh;
    border: 1px solid #000;
}

.rigth-container-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    min-height: 100vh;
    padding: 0;
}
.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}